.card-container {
  display: flex;
  flex-direction: column;
  background: #95dada;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: greyscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  text-align: center;
}

.card-container:hover {
  transform: scale(1.05);
}
